<div class="row">
  <div class="col-lg-5 col-md-12 col-xs-12">
    <div class="footer-bg">
      <div class="container">
        <h1 class="f-title">Care <span class="u-txt">u</span> Choose</h1>
        <p class="m-top40">
          Important Notice: While we verify certain key information (police
          checks, key qualifications, references) during the onboard of each care worker, they represent other information about themselves to customers via their profiles that we do not independently verify.
        </p>
        <h5 class="u-txt">Read More</h5>
        <div class="u-txt f-sz m-top40">Follow Us</div>
        <div class="divider divide-w"></div>
        <div class="icon-item">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-camera-retro" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-12 col-xs-12">
    <div class="footer-side-bg">
      <div class="row">
        <div class="col-md-7">
          <h2>USEFUL LINKS</h2>
          <div class="divider divide-w"></div>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-item">
                <li>ABOUT US</li>
                <li>OUR SERVICE</li>
                <li>CASE STUDIES</li>
                <li>PROJECT</li>
                <li>FAQ</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-item">
                <li>OUR TEAM</li>
                <li>BLOG</li>
                <li>PRIVACY POLICY</li>
                <li>TERMS & CONDITION</li>
                <li>CONTACT US</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="footer-content">
            <h2 class="clr-w">USEFUL LINKS</h2>
            <div class="divider divide-w"></div>
            <div class="">
              <div>
                <h3>Download the Support Workers App for your Smartphones</h3>
              </div>
              <div class="footer-logo">
                <img src="assets/gplay.png" width="100%" />
                <img src="assets/apple-store.png" width="100%" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-news">
        <div class="row">
          <div class="col-md-5"><h5 class="m-top10">NEWSLETTER</h5></div>
          <div class="col-md-7">
            <div class="inner-search">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email Address"
                  aria-label="Email Address"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">SUBSCRIBE</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="footer-copyright">COPYRIGHT 2018 | ALL RIGHTS RESERVED</div>
    </div>
  </div>
</div>
