@import '../../../mq.scss';
.footer-bg {
  background: #000;
  color: #fff;
  height: 100%;
  padding: 40px 20px;
  p {
    font-weight: 300;
  }
}
.footer-content {
  h3 {
    margin-top: 20px;
  }
  .footer-logo {
    @include mq(xs){
      text-align: center;
    }
    img {
      width: 180px;
      height: 60px;
      margin-top: 20px;
    }
  }
}
.footer-side-bg{
  padding: 5px;
  @include mq(xs){
    padding: 40px 20px;
  }
  @include mq(sm){
    padding: 40px 50px;
  }
  ul {
    @include mq(xs){
      margin-bottom: 0 !important;
    }
  }
}
.footer-news {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  margin: 20px 0px;
  padding: 20px;
}
.list-item {
  list-style: none;
  padding: 0;
  color: #b3b3b3;
  font-size: 1.3rem;
  @include mq(sm){
    font-size: 1rem;
  }
  li {
    line-height: 55px;
  }
}
.footer-copyright {
  padding: 20px 0;
}

