@import '../../mq.scss';
p {
  margin-top: 20px;
  font-weight: 400;
  color: #8f8f8f;
}

/** Bootsrap Section **/
.home-section {
  padding: 80px 0px 0px;
  text-align: center;
  .steps {
    border: 1.3px dashed #fff;
    background: linear-gradient(#ffffff, #fff) padding-box,
      linear-gradient(to top, #0058e0, #00c0f7) border-box;
    padding: 70px;
    position: relative;
    margin: 100px 20px 50px;
    @include mq(sm) {
      margin: 100px 0px 50px;
    }
    .arrow {
      @include mq(xs) {
        display: none !important;
      }
      @include mq(sm) {
        position: absolute;
        top: 18%;
        left: 35%;
      }
      position: absolute;
      top: 19%;
      left: 50%;
      border: 1.3px dashed red;
      height: 125px;
      width: 300px;
      border-color: #0058e0 transparent transparent transparent;
      border-radius: 50%/100px 100px 0 0;
      z-index: 2;
      &:before {
        content: "";
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #0058e0;
        position: absolute;
        bottom: 80px;
        right: 20px;
        transform: rotate(-45deg);
      }
    }
    .arrow-down {
      @include mq(xs) {
        display: none !important;
      }
      position: absolute;
      bottom: 15%;
      left: 50%;
      border: 1.3px dashed red;
      height: 200px;
      width: 290px;
      border-color: transparent transparent #0058e0 transparent;
      border-radius: 0px 0px 200px 50%/100px;
      z-index: 2;
      &:before {
        content: "";
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #0058e0;
        position: absolute;
        bottom: 28px;
        right: 20px;
        transform: rotate(-125deg);
      }
    }
    .number {
      &:before {
        content: attr(data-text);
        width: 60px;
        height: 60px;
        background: linear-gradient(to top, #0058e0, #00c0f7) !important;
        border-radius: 50%;
        position: absolute;
        top: -25px;
        right: -25px;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #fff;
      }
    }
    .img-section {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

/** Css Section **/
.home-support {
  padding: 80px;
  text-align: center;
  @include mq(xs) {
    padding: 10px;
  }
  .support-wrapper {
    display: inline-flex;
    flex-direction: row;
    margin: 30px 20px 50px;
    @include mq(xs) {
      flex-direction: column;
    }
    .img-support {
      width:33.33%;
      @include mq(xs) {
        width: 100%;
      }
      .support-content {
        text-align: left;
        padding: 10px 15px;
        @include mq(xs) {
          margin-bottom: 40px;
        }
      }
      h4 {
        color: #fff;
        padding: 20px;
        &.content-title {
          display: flex;
          align-items: center;
          justify-content: center;
          @include mq(sm) {
            min-height: 130px;
          }
          @include mq(md) {
            min-height: 98px;
          }
        }
        &.content-bg {
          background: #0058e0;
        }
        &.content2-bg {
          background: #00c0f7;
        }
      }
      .zoom-1 {
        transform: scale(1.1);
        @include mq(xs){
          transform: scale(1);
        }
      }
    }
  }
}
