<!-- Using BOOTSTRAP -->
<div class="container">
  <div class="home-section">
    <h2>GETTING STARTED IS AS EASY AS 3 STEP</h2>
    <p class="m-both">
      Join for free, then simply search for independent care and support workers
      in your local area.
    </p>
    <div class="divider divide-w1"></div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="steps">
          <div class="arrow"></div>
          <div class="number" data-text="01"></div>
          <div class="img-section"><img src="assets/1.png" /></div>
        </div>
        <div class="step-content">
          <h4>SEARCH</h4>
          <p>
            Join for free, then simply search for independent care and support
            workers in your local area.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="steps">
          <div class="arrow-down"></div>
          <div class="number" data-text="02"></div>
          <div class="img-section"><img src="assets/2.png" /></div>
        </div>
        <div class="step-content">
          <h4>CONNECT</h4>
          <p>
            Join for free, then simply search for independent care and support
            workers in your local area.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="steps">
          <div class="number" data-text="03"></div>
          <div class="img-section"><img src="assets/3.png" /></div>
        </div>
        <div class="step-content">
          <h4>CARE</h4>
          <p>
            Join for free, then simply search for independent care and support
            workers in your local area.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Using only CSS -->

<div class="home-support">
  <h2>Something for everyone.</h2>
  <div class="divider divide-w1"></div>
  <p class="m-both mb-1">
    Finding the right kind of care and support is easy with Mable. Search based
    on what matters most to you and your family.
  </p>
  <div class="support-wrapper">
    <div class="img-support">
      <img src="assets/support1.jpg" width="100%" />
      <h4 class="content-bg content-title">Aged Care</h4>
      <div class="support-content">
        <p>Takecare brings you more choice, more flexibility and more value with transparent pricing to help you find the support that suits you best.</p>
        <h6>LEARN MORE</h6>
        <div class="divider divide-l"></div>
      </div>
    </div>
    <div class="img-support">
      <div class="zoom-1">
        <img src="assets/support1.jpg" width="100%" />
        <h4 class="content2-bg content-title">Disability Support</h4>
      </div>
      <div class="support-content">
        <p>With an emphasis on transparency and value, Mable gives you an easier, safer, and more flexible online platform to find disability support workers for you and your family.</p>
        <h6>LEARN MORE</h6>
        <div class="divider divide-l"></div>
      </div>
    </div>
    <div class="img-support">
      <img src="assets/support1.jpg" width="100%" />
      <h4 class="content-bg content-title">Care and Support Workers</h4>
      <div class="support-content">
        <p>When you are looking for flexilble, rewarding support work in your community, Mable makes it eassy for you to connect with clients you really check with.</p>
        <h6>LEARN MORE</h6>
        <div class="divider divide-l"></div>
      </div>
    </div>
  </div>
</div>
