/* You can add global styles to this file, and also import other style files */
@import 'src//app/mq.scss';
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-light {
  background: linear-gradient(to top, #0058e0, #00c0f7) !important;
}

.btn {
  border-radius: 1.25rem;
  padding: 0.375rem 1.75rem;
}

.btn-primary {
  border: 0px;
  font-size: 1.2rem;
  color: #0058e0;
  background-color: #fff;
}

.clr-w {
  color: #fff;
}

.divider {
  display: inline-flex;
  &.divide-l {
    width: 100px;
  }
  &.divide-w {
    width: 150px;
  }
  &.divide-w1 {
    width: 300px;
    @include mq(xs) {
      width: 150px;
    }
  }
  &:after {
    content: "";
    border-bottom: 4px solid #009e99;
    border-image: linear-gradient(to right, #0058e0, #00c0f7) 1 20%;
    flex: 1;
  }
}

.f-sz {
  font-size: 2rem;
}

.f-title {
  font-family: serif;
}

.icon-item {
  margin-top: 50px;
  @include mq(xs) {
    margin-bottom:  25px;
  }
  i {
    color: #fff;
    margin-right: 60px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 10px;
    width: 50px;
    font-size: 1.5rem;
    text-align: center;
  }
}

.input-group-text {
  background: linear-gradient(to right, #0058e0, #00c0f7) !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #fff;
}

.form-control {
  padding: 1.375rem .75rem;
}

.m-top10 {
  margin-top: 10px;
}

.m-top20 {
  margin-top: 20px;
}

.m-top40 {
  margin-top: 40px;
}
.mb-1{
  margin-bottom: 16px !important;
}

.navbar-toggler {
  background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-text, .navbar-light .navbar-text a {
  color: #fff;
}

.navbar-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #fff;
  font-weight: bold;
}

.u-txt {
  color: #0058e0;
  background: linear-gradient(to top, #0058e0, #00c0f7);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@include mq(lg) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.2rem;
      padding-left: 1.2rem;
  }
}
@media (min-width: 992px) {
  .nav-side {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .footer-bg {
    padding: 40px 0px 0px 100px;
  }
  .footer-side-bg {
    padding: 40px 100px 0px 0px;
  }
  .m-both {
    margin: auto 280px;
  }
}




