<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="logo" src="assets/logo.jpg" width="250px" height="180px"></a>
    <button (click)="collapes = !collapes"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': collapes}" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >About Us<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item"><a class="nav-link" href="#">How it works</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
      </ul>
      <span class="navbar-text ml-auto">
        <a>Login</a>
        <span class="nav-side"> or </span>
        <button type="button" class="btn btn-primary">Sign up here</button>
      </span>
    </div>
  </div>
</nav>
